<header class="header">
    <section class="header__content">
        <h1 class="title">Les conflits</h1>
        <p class="text">Chacun d'entre nous à une approche unique face aux conflits, mais comment savoir quelle est la
            plus efficace ?
            Il est probable que vous ayez déjà vécu une situation conflictuelle sans savoir comment y faire face. Cette
            situation désagréable est malheureusement inévitable et peut être source de perte de temps. Cependant, il
            existe de nombreuses techniques qui peuvent vous aider à éviter ces conflits.
        </p>

        <a href="#first-part" class="button">En savoir plus</a>
    </section>
    <img class="header__img" src="assets/header.jpg" />
</header>