.footer {
    margin-top: 58px;
    border-top: 0.5px solid lightgrey;
    padding: 52px 0;
    display: flex;
    justify-content: center;

    &__content {
        display: flex;
        justify-content: center;
        column-gap: 16px;
    }

    &__item {
        border: solid 1px lightgrey;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s;
        cursor: pointer;
        
        &:hover {
            background-color: lightgray;
        }

        img {
            height: 18px;
        }
    }
}