<section class="footer">
    <div class="footer__content">
        <a class="footer__item">
            <img src="/assets/facebook.png" />
        </a>
        <a class="footer__item">
            <img src="/assets/linkedin.png" />
        </a>
        <a class="footer__item">
            <img src="/assets/instagram.png" />
        </a>
        <a class="footer__item">
            <img src="/assets/twitter.png" />
        </a>
        <a class="footer__item">
            <img src="/assets/email.png" />
        </a>
    </div>
</section>