.part {
    min-height: 50vh;
    border-bottom: 0.5px solid lightgrey;
    display: flex;
    align-items: center;

    &--right {
        flex-direction: row;
    }

    &--left {
        flex-direction: row-reverse;
    }

    &__content {
        width: 65%;
        box-sizing: border-box;
        padding: 0 6%;
    }

    &__img {
        width: 35%;
        height: 50vh;
        object-fit: cover;
        transition: .2s;

        &:hover {
            transform: scale(1.08);
        }
    }
}