<section class="gallery">
    <div class="gallery__text">
        <h2>Partir sur de bonnes bases</h2>
        <p>Il est essentiel de partir sur de bonnes bases avec tous les membres de l'équipe, et certains éléments tels
            que les valeurs et les croyances devraient même être pris en compte lors de l'embauche de nouveaux membres.
        </p>
    </div>
    <section class="gallery__content">
        <figure class="figure">
            <img class="figure__img" src="/assets/gallery1.png">
            <figcaption class="figure__content">
                <h4>Connaître les valeurs</h4>
                <p>Il est important de prendre le temps de découvrir les valeurs de chaque employé et de les prendre en
                    compte afin de favoriser des relations harmonieuses au sein de l'équipe.
                </p>
            </figcaption>
        </figure>
        <figure class="figure">
            <img class="figure__img" src="/assets/gallery2.png">
            <figcaption class="figure__content">
                <h4>Tenir compte des croyances limitantes
                </h4>
                <p>Il est également important de prendre en compte les croyances limitantes de chaque employé afin de
                    mieux comprendre leurs réactions et attentes.
                </p>
            </figcaption>
        </figure>
        <figure class="figure">
            <img class="figure__img" src="/assets/gallery3.jpg">
            <figcaption class="figure__content">
                <h4>Gérer les émotions
                </h4>
                <p>Les membres de l'équipe peuvent être encouragés à apprendre à gérer leurs émotions, notamment en
                    utilisant des techniques telles que l'ancrage ou le recadrage.
                </p>
            </figcaption>
        </figure>
    </section>
</section>