<app-header></app-header>
<app-part id="first-part" [direction]="false" title="Avant toute chose, qu'est-ce qu'un conflit ?"
    content="Un conflit se définit comme une situation où deux ou plusieurs parties ont des objectifs, des besoins ou des opinions différents, pouvant entraîner des tensions, des malentendus, de la frustration ou de l'hostilité. Les conflits peuvent survenir dans de nombreux contextes, notamment dans les milieux professionnels, où des personnalités, styles de travail, priorités et valeurs différentes peuvent entrer en conflit."
    image="/assets/part1.jpg"></app-part>
<app-part [direction]="true" title="Comment éviter les conflits en équipe ?"
    content="Il est crucial de promouvoir une culture de communication ouverte et transparente dès le départ. Les membres de l'équipe doivent être encouragés à exprimer leurs opinions, préoccupations et idées librement, sans crainte de représailles ou de jugement. Pour cela, des réunions régulières d'équipe, des sessions de brainstorming et des entretiens individuels peuvent être organisés.
De plus, il est important d'établir des normes claires de comportement pour tous les membres de l'équipe, afin de minimiser les malentendus et les conflits. Les membres doivent être incités à respecter les opinions et idées des autres, à écouter activement et à éviter de porter des jugements hâtifs."
    image="/assets/part2.jpg"></app-part>
<app-part [direction]="false" title="La résolution de conflits"
    content="Il est essentiel de reconnaître que les conflits peuvent être une occasion de croissance personnelle et professionnelle, et que leur résolution peut améliorer la productivité et la satisfaction des membres de l'équipe. 
Pour les résoudre, l'écoute active est un élément clé. De plus, plutôt que de rester dans une relation conflictuelle, il est important d'en parler avec les autres membres de l'équipe. Un point de vue extérieur peut aider à rompre la dynamique conflictuelle en apportant une nouvelle perspective et donc permettre de trouver un compromis qui convient à chacun sans imposer une décision unilatérale."
    image="/assets/part3.jpg"></app-part>
<app-gallery></app-gallery>
<section class="skills">
    <div class="skills__text">
        <h2 class="skills__title">La résolution de conflit</h2>
        <p>La résolution des conflits est importante car elle peut offrir des opportunités de croissance personnelle et
            professionnelle pour les membres de l'équipe, tout en améliorant leur productivité et leur satisfaction. En
            effet, en apprenant à résoudre les conflits de manière constructive, les membres de l'équipe peuvent
            renforcer leur capacité à travailler ensemble de manière efficace, à mieux comprendre les points de vue et
            les préoccupations des autres, et à trouver des solutions qui conviennent à tous.
        </p>
    </div>
    <div class="skills__list">
        <app-skill class="skills__item" image="/assets/skill1.png" title="Le triangle de Karpman "
            content="Avant de chercher à résoudre un conflit, il est crucial de comprendre les motivations de chaque personne impliquée. Le triangle de Karpman est un modèle qui peut aider à identifier les différents rôles que les individus peuvent jouer dans une situation de conflit : la victime, le persécuteur et le sauveur."></app-skill>
        <app-skill class="skills__item" image="/assets/skill2.png" title="La roue de Hudson"
            content="En utilisant la roue de Hudson, les membres de l'équipe peuvent mieux comprendre les différences de personnalité entre eux. Ils peuvent identifier leur propre zone de personnalité et celle des autres membres de l'équipe, et apprendre à mieux communiquer et à travailler ensemble."></app-skill>
        <app-skill class="skills__item" image="/assets/skill3.png" title="La prise de hauteur"
            content="La prise de hauteur, en matière de résolution de conflits, consiste à adopter une perspective plus large sur la situation en question. Cela permet de voir le conflit dans son ensemble et de mieux comprendre les enjeux et les motivations de chaque partie impliquée."></app-skill>
    </div>
</section>
<app-footer></app-footer>